.cell {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.reveal {
  background: lightgray;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.bomb {
  background: rgb(255, 18, 18);
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.value-1 {
  color: blue;
}

.value-2 {
  color: green;
}

.value-3 {
  color: red;
}

.value-4 {
  color: darkblue;
}

.value-5 {
  color: darkred;
}

.value-6 {
  color: darkcyan;
}

.value-7 {
  color: black;
}

.value-8 {
  color: lightslategray;
}
